body {

    text-align: center;
}

#foto_location {
    padding: 11%;
}

#footer_none {
    list-style-type: none;
}

.topnav {
    background-color: #e0df79;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}

.topnav a {
    float: right;
    color: #000000;
    padding: 16px 20px;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    font-family: 'B612', sans-serif;

}