body {
    font-family: 'B612', sans-serif;
}

#photo_location {
    padding-left: 15%;
    padding-top: 8%;

}

ol > li{
    list-style-type: none;
    text-align: center;

}

.topnav {
    background-color: #e0df79;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}

.topnav a {
    float: right;
    color: #000000;
    padding: 16px 20px;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

footer {
    padding-top: 8%;
}

.button{
    display:inline-block;
    width: 70px;
    height: 30px;
    padding-top: 5px;
    -webkit-appearance: button;
    text-decoration: none;
    background-color: #e0df79;
}

.wrapper{
    float:right;
    text-align:center;
}

.center_text {
    text-align: center;
}


#tabel_left {
    padding-left: 14%;
}